section
    p Para onde você vai quando precisa se concentrar e não quer ser interrompido? 
    p Poucos respondem trabalho, exceto nesse contexto: “no trabalho, depois do horário de expediente, quando não há mais ninguém lá”.

