section
    h1 Agilidade
    ul
     li Usando protagonismo dos indivíduos
     li Usando inteligência coletiva
     li Usando times de interesse
     li Usando práticas ágeis
     li Usando automação organizacional
